.signin__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 448px;
  height: 332px;
  padding: 64px;
  gap: 32px;
  border-radius: 16px;
  background: #ffffff;
  margin-top: 40px;
}

/* .signin__formbutton {
  display: flex;
  background: #a4d9b0;
  width: 350px;
  height: 48px;
  opacity: 1;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  border: none;
}
.signin__formbutton__active {
  display: flex;
  width: 350px;
  height: 48px;
  opacity: 1;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  border: none;
  background-color: #1ca139;
} */
.signin__forminputblock {
  width: 320px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #636363;
  display: flex;
  align-items: center;
  padding: 4px 16px 4px 12px;
  gap: 12px;
}

.signin__forminputicon {
  width: 20px;
  height: 20px;
  color: #636363;
  flex-shrink: 0;
}

.signin__forminput {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background: transparent;
  font-family: Roboto;
  font-size: 16px;
  color: #141414;
}

.signin__formtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
  color: #141414;
}
.signin__forminput:focus::placeholder {
  color: transparent;
}

.signin__forminputBlock__errormessage {
  color: red;
}

@media (max-width: 680px) {
  .signin__form {
    width: 340px;
  }
}

@media (max-width: 580px) {
  .signin__form {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .signin__form {
    width: 150px;
  }
  .signin__formbutton {
    width: 230px;
  }
  .signin__formbutton__active {
    width: 230px;
  }
  .signin__forminputblock {
    width: 200px;
  }
}
