.header{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #fffefe;
/*     width: 1888;
height: 112; */
gap: 32px;
opacity: 1;
border-radius: 16px;
padding-top: 24px;
padding-right: 32px;
padding-bottom: 24px;
padding-left: 32px;

}

.header__menu{
    display: flex;
background-color: #F2F2F2;
width: 1652;
height: 64;
border-radius: 16px;
gap: 8px;
opacity: 1;
padding: 8px;

}
.header__logo{
    width: 140px;
height: 64px;
opacity: 1;

}

.header__menu__item__active{
display: flex;
justify-content: center;
align-items: center;
    color:#E5831D;
width: 540px;
height: 48px;
border-radius: 8px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
gap: 8px;
opacity: 1;
background-color: #FFFFFF;
font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
text-align: center;
cursor: pointer;
}
.header__menu__item{
display: flex;
justify-content: center;
align-items: center;
width: 540px;
height: 48px;
border-radius: 8px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
gap: 8px;
opacity: 1;
cursor: pointer;
}