 .MainBlockConteiner{
  background-color: white;
  margin: 10px;
  border-radius: 16px;
  padding: 10px;
}
.toolbar{
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-bottom: 20px;
}
.toolbarNumber{
  display: flex;
justify-content:flex-end;
margin-top: 10px;
margin-bottom: 20px;
}
.toolbar__search{
    display: flex;
}

.toolbar__buutonsSwitch{
  display: flex;
  gap: 8px;
}
.toolbar__searchBlock{
display: flex;
width: 472px;
height: 48px;
opacity: 1;
border-radius: 8px;
border-width: 1px;
padding-right: 16px;
padding-left: 12px;
border: 1px solid #636363;
background-color: white;
align-items: center;

}


.toolbar__searchinput{
    border: none;      
  outline: none;
  width: 100%;
  cursor: pointer;

}
.toolbar__searchinput:focus::placeholder{
    opacity: 0;
}
.toolbar__searhcbutton{
width: 120px;
height: 48px;
opacity: 1;
border-radius: 8px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
background: #1CA139;
margin-left: 8px;
border: none;
color: white;
cursor: pointer;
}
.toolbar__controls{
    display: flex;
    gap: 18px;
}
.toolbar__refreshbutton{
display: flex;
width: 120px;
height: 48px;
gap: 4px;
opacity: 1;
border-radius: 8px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 12px;
border: none;
background-color: #E5831D;
color: #FFFFFF;
align-items: center;
justify-content: center;
cursor: pointer;
}

.toolbar__buttonChange{
display: flex;
background-color: #F2F2F2;
justify-content: center;
width: 48px;
height: 48px;
padding: 12px;
gap: 8px;
opacity: 1;
border-radius: 8px;
border: none;
cursor: pointer;
}

.toolbar__selectWrapper {
  position: relative;
  display: inline-block;
}

.toolbar__customselect {
  cursor: pointer;
  width: 96px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #636363;
  padding-left: 16px;
  padding-right: 32px; 
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #141414;
  outline: none;
  appearance: none;
  background-color: white;
}


.toolbar__selectWrapper::after {
  content: "▼";
  font-size: 12px;
  color: #141414;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.toolbar__blockWithNumber{
  display: flex;
  justify-content: center;
  align-items: center;
width: 60px;
height: 48px;
gap: 4px;
opacity: 1;
border-radius: 8px;
border-width: 1px;
border: 1px solid #636363;
background: #FFFFFF;
}
.toolbar__amount{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}



.usertable__header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 56px;
  background-color: #E8F6EB;
  border-radius: 8px;
  padding: 16px 32px;
  margin-bottom: 16px;
}

.usertable__header-cell {
  width: 456px;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #16812E;
  
}

.usertable__user-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px 32px;
  margin-top: 8px;
}

.usertable__cell {
  width: 456px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #141414;
  vertical-align: middle;
}
.usertable__cell__status {
    width: 456px;

  
}
.usertable__cell__status__circle{
font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #141414;
  vertical-align: middle;
  border-radius: 16px; 
  padding: 4px 8px; 
  text-align: center; 
  display: inline-block; 
  background-color: #f3fdf5;
width:96px;  
}
.usertable__cell__status__circle__success {
  color: #1CA139;
  background-color: #f3fdf5;
}
.usertable__cell__status__circle__failed {
  color: #E53E3E;
  background-color: #fdf3f3;
}
.usertable__button {
  width: 178px;
  height: 48px;
  opacity: 1;
  border-radius: 8px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  color: #DA1919;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: center;
  background-color: #D600000A;
}


.usertable__buttonAbort{
  border: none;
  width: 178px;
height: 48px;
opacity: 1;
border-radius: 8px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
background-color: #FDF5EB;
color:#E5831D;
cursor: pointer;
} 


.MainBlockConteiner__modal{
  width: 400px;
height: 228px;
opacity: 1;
border-radius: 12px;
box-shadow: 4px 4px 8px 0px #0000000A;
background-color:#FFFFFF;
border:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainBlockConteiner__modal::backdrop {
  background: rgba(0, 0, 0.1, 0.5);
}
.MainBlockConteiner__buttonBlocks{
display: flex;
gap:20px;
justify-content: center;
}
.MainBlockConteiner__buttonCancel{
width: 160px;
height: 48px;
opacity: 1;
border-radius: 8px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
background-color:#F2F2F2;
font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
text-align: center;
border: none;
cursor: pointer;
}
.MainBlockConteiner__buttonAbort{
width: 160px;
height: 48px;
opacity: 1;
border-radius: 8px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
background-color: #E5831D;
font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
text-align: center;
border:none
}
.MainBlockConteiner__modalBlock__text{
  padding-top: 68px;
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
text-align: center;
vertical-align: middle;
color:#141414;
margin-bottom: 40px;
}
.MainBlockConteiner__modalBlock {
  position: relative; 
}
.MainBlockConteiner__modalBlock__img{
cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media(max-width:1269px){
.toolbar__searchBlock{
  width:300px;
}
}

@media(max-width:1110px){
.toolbar__searchBlock{
  width:240px;
}
}

@media(max-width:1045px){
.toolbar__searchBlock{
  width:200px;
}
.toolbar__searhcbutton{
width: 80px;
}
.toolbar__refreshbutton{
width: 80px;
}
}
@media(max-width:919px){
.toolbar{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
}