* {
  margin: 0;
}
.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    107.99deg,
    #61be75 0%,
    #4cb563 11.99%,
    #26a541 29.98%,
    #26a541 69.94%,
    #4cb563 87.93%,
    #61be75 99.92%
  );
  height: 100vh;
  flex-direction: column;
}

.signin__logo {
  width: 320px;
  height: 146px;
}
